@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Manrope:wght@700&family=Poppins:wght@500;600;700&display=swap');

/* ------------------------
Common styles or utilities
----------------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    
}
